<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3310/jdocs_db</property>
    <property name="hibernate.connection.username">jdocs_user</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="com/harkon/jdocs/model/ActionHistory.hbm.xml"/>
    <mapping resource="com/harkon/jdocs/model/Terminal.hbm.xml"/>
    <mapping resource="com/harkon/jdocs/model/Document.hbm.xml"/>
    <mapping resource="com/harkon/jdocs/model/Case.hbm.xml"/>
    <mapping resource="com/harkon/jdocs/model/ClientEntity.hbm.xml"/>
    <mapping resource="com/harkon/jdocs/model/DocumentType.hbm.xml"/>
    <mapping resource="com/harkon/jdocs/model/CaseDocument.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
